<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Shortly</title>
    <link rel="stylesheet" type="text/css" href="uglified/output.css">
    <script src="uglified/lib/jquery.min.js"></script>
    <script src="uglified/lib/underscore.min.js"></script>
    <script src="uglified/lib/backbone.min.js"></script>
    <script src="uglified/lib/handlebars.min.js"></script>

  </head>

  <body>
    <h1>Shortly</h1>
    <%- body %>
  </body>
</html>
